// COLOR VARIABLES
$color-primary: hsl(0, 36%, 70%);
$color-primary-dark: hsl(0, 93%, 68%);

$color-secondary: hsl(0, 6%, 24%);

// FONT VARIABLES
$font-primary: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 144rem;
$bp-large: 120rem;
$bp-medium: 90em;
$bp-small: 60em;
$bp-small-mobile: 37.5rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-secondary;
  font-weight: 400;
  line-height: 1.6;
}

footer {
  display: none;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
}

.hero {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60vw;
    height: 100vh;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .hero-main-title {
      text-align: left;
      h1 {
        display: block;
        font-size: 10rem;
        font-weight: 200;
        text-transform: uppercase;
        color: $color-primary;
        line-height: 9.5rem;
        letter-spacing: 1rem;
      }
      strong {
        display: block;
        font-weight: 600;
        color: $color-secondary;
      }
    }
    .hero-sub-title {
      p {
        font-size: 1.8rem;
        color: $color-primary;
      }
    }
  }

  &__logo {
    margin: 10% 0 10% 0;
  }

  &__bg-right {
    background-image: url(../images/hero-desktop.jpg);
    background-position: top center;
    background-size: cover;
    width: 40vw;
    padding-top: 100vh;
    position: absolute;
    right: 0;
    top: 0;
  }
}
