// COLOR VARIABLES
$color-primary: hsl(0, 36%, 70%);
$color-primary-dark: hsl(0, 93%, 68%);

$color-secondary: hsl(0, 6%, 24%);

// FONT VARIABLES
$font-primary: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 144rem;
$bp-large: 120rem;
$bp-medium: 90em;
$bp-small: 60em;
$bp-small-mobile: 37.5rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-secondary;
  font-weight: 400;
  line-height: 1.6;
}

footer {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
}

.hero {
  display: flex;
  &__left {
    position: relative;
    width: 60vw;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-image: url("../images/bg-pattern-desktop.svg");
      background-position: center;
      background-size: cover;
      width: 100%;
      padding-top: 100vh;
    }

    .hero-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .hero-main-title {
        h1 {
          font-size: 6rem;
          font-weight: 200;
          text-align: left;
          color: $color-primary;
          text-transform: uppercase;
          line-height: 1;
          letter-spacing: 1.4rem;
          strong {
            color: $color-secondary;
            display: block;
          }
        }
      }
      .hero-sub-title {
        margin: 1.2rem 0;
        p {
          color: $color-primary;
          font-size: 1.5rem;
          text-align: left;
        }
      }
    }
  }

  &__right {
    background-image: url("../images/hero-desktop.jpg");
    background-position: top center;
    background-size: cover;
    width: 40vw;
    padding-top: 100vh;
  }
}
